<nav>
    <ul class="nav-menu"></ul>
        <a href="/">Home</a>
        <a href="/Custom">Custom</a>
        <a href="/Sedan">Sedan</a>
        <a href="/SUV">Contact</a>
        <a href="/Truck">Truck</a>
    <ul>
</nav>
