<!---  
<ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/Custom">Custom</a></li>
    <li><a href="/Sedan">Sedan</a></li>
    <li><a href="/SUV">Contact</a></li>
    <li><a href="/Truck">Truck</a></li>
</ul
-->
<nav>
    <%-nav %>   
</nav>